<div class="main-content-inner">
	<div class="breadcrumbs ace-save-state" id="breadcrumbs">
		<ul class="breadcrumb">
			<li>
				<i class="ace-icon fa fa-home home-icon"></i>
				<a href="#">Home</a>
			</li>
			<li class="active">Items</li>
		</ul><!-- /.breadcrumb -->

		<div class="nav-search" id="nav-search">
			<form class="form-search">
				<span class="input-icon">
					<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
					<i class="ace-icon fa fa-search nav-search-icon"></i>
				</span>
			</form>
		</div><!-- /.nav-search -->
	</div>
	<div class="page-content">
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12">
						<% if flash[:notice] || flash[:error]%>
						  <% klass= flash[:notice] ? 'success' : 'danger' %>
							<div  class="alert alert-block alert-<%= klass%>">
							  <%= flash[:notice] || flash[:error]%>
							</div>
						<% end %>
						<%= render 'form' %><br>
						<%= render 'items' if @items %>						
		      </div>
	      </div>
			</div>
		</div>
	</div>
</div>
			
			